@font-face {
	font-family: Bahnschrift;
	src: url(../font/Bahnschrift.ttf);
	src: url(../font/Bahnschrift.otf);
  	src: url(../font/Bahnschrift.woff);
}

p {
	color: white;
	font-family: bahnschrift;
	font-size: 28px;

}

body {
	background-color: black;
}

#main {
	display: block;
	text-align: center;
	margin:  auto;

}



#hr1 {
	width: 100%;
	border-color: #6757F9;
}

#hr2 {
	width: 100%;
	border-color: #6757F9;
}



footer {
	background-color: black;
}

button {
	background-color: black;
	color:  white;
	margin-right: 20px;
	font-size:  18px;
	font-family: bahnschrift;
	border: none;
	cursor: pointer;
}

button:hover {
	color: rgb(179, 179, 179);
}

#menu {
	float: left;
}

#container {
	margin:  auto;
	padding-top:  30px;
	max-width: 1000px;
}


#socials {
	width: 300px;
	height: 25px;
	float: right;
	padding-bottom: 8px;
}

#socials img {
	display: block;
	float: right;
	width: 10%;
	margin-right: 3px;
}

img {
	width: 100%;
}

.img {
	display: block;
	max-width: 450px;
	padding-right: 30px;
	float:  left;
	margin-right: 1rem;
	margin-right: calc(.5rem + 2vw);
	object-fit: cover;
	shape-outside: circle(49%);
}

.intro {
	margin:  3rem auto;
	text-align: justify;
}

.music, .animation {
	display:  inline-block;
}

.music-content, .animation-content {
	display:  none;
	position:  absolute;
	background-color: black;
	min-width: 160px;
	padding:  6px 6px;
	z-index:  1;
}

.music-content a, .animation-content a {
	font-family: bahnschrift;
	color: white;
	padding: 6px 16px;
	text-decoration: none;
	display: block;
}

.music-content a:hover, .animation-content a:hover {
	color:  rgb(179, 179, 179);
}

.music:hover .music-content, .animation:hover .animation-content {
	display: block;
}